
* {
    box-sizing: border-box;
}

html, body {
    margin: 0; 
    padding: 0;
}


nav {
    background: rgb(50, 99, 76);
}


body {
    background: rgb(254, 250, 235); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a, h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
    color: darkslategray; 
}

a {
    margin: 10px;
    text-decoration-line: none;
    color: rgb(254, 250, 235); 
}

h1 {
    font-family: 'Courier New', Courier;
    font-weight: 900;
}

#logo {
    height: 150px;
    margin: 
}
