table {
    width: 600px;
}

td, th {
    text-align: center;
    border: solid 1px lightslategray;
    font-family: 'Courier New', Courier;
    color: darkslategray; 
}

.order-total th {
    border: transparent 1px; 
    padding: 10px;
}

#total-text {
    text-align: right;
}

h1 {
    height: 100px;
}

button {
    transition: color 200ms ease-in-out;
    border-radius: 20px;
    font-family: 'Courier New', Courier;
}

button:hover {
    background: lightslategray;
    color: white;
}

button:disabled {
    color: white;
}
