table {
    width: 600px;
    margin-top: 200px; 
    align-content: center; 
}

td, th {
    text-align: center;
    border: solid 1px lightslategray;
    font-family: 'Courier New', Courier;
    color: rgb(50, 99, 76);
}

.order-total th {
    border: transparent 1px; 
    padding: 10px;
}

#total-text {
    text-align: right;
}

h1 {
    height: 100px;
}

button {
    transition: color 200ms ease-in-out;
    border-radius: 20px;
    font-family: 'Courier New', Courier;
}

button:hover {
    background: lightslategray;
    color: white;
}

button:disabled {
    color: rgb(254, 250, 235); 
}
