table {
    width: 600px;
}

td, th {
    text-align: center;
    border: solid 1px lightslategray;
    font-family: 'Courier New', Courier;
    color: darkslategray; 
}

.order-total th {
    border: transparent 1px; 
}