import url ('https://fonts.google.com/specimen/Raleway?selection.family=Raleway');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background: floralwhite; 
}

a, h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
    color: darkslategray; 
}

h1 {
    font-family: 'Courier New', Courier;
}
